<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>focus and reply</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css"> 
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <!-- todo: replace with production version -->
    </head> 
<body>
<div id="app">
    <h1 class="pt-4 text-3xl text-bold text-center"> focus and reply </h1>
    <div v-if="loggedIn">
        <button v-on:click.prevent="logout" class="absolute top-0 right-0 rounded my-3 mx-8 p-3 bg-green-700 text-white">Log out</button>
        <div v-for="email in emails" class="later leading-6">
            <h2 class="subject text-2xl pt-4 font-bold">{{email['subject']}}</h2>
            <div style="display: flex">
                <div class="left" style="width: 50%">
                    <h3 class="text-xl font-bold pt-2 pb-4">{{email['from'][0]['name']}}</h3>
                    <pre class="email" v-html="fix_email(email)">
                    </pre>
                </div>
                <div class="right" style="width: 50%">
                    <textarea class="p-4" :name="email.id" :id ="email.id"> </textarea>
                </div>
            </div>
        </div>
    </body>

    </div>
    <div v-else>
        <div id="login">
            <div style="padding: 1em 0">Login to your Fastmail account:</div>
            <form>
                <input v-model="username" placeholder="Username" ></input>
                <input type="password" v-model="password" placeholder="App password"></input>
                <button class="text-white bg-blue-700 rounded px-3 py-1" v-on:click.prevent="login">Login</button>
            </form>

            <div class="pt-4">
                <h2 class="font-bold py-3"> How to get your app password </h2>
                You can get an app password in your Fastmail settings, under "Password &amp; Security".
            </div>
            <div class="pt-4">
                <h2 class="font-bold py-3"> Security </h2>
                <p>
                All your authentication data is stored in your browser's local
                storage, this app has no server code at all.
                </p>
            </div>
        </div>
    </div>
</div>

<script src="focus-and-reply.js"></script>
</body>
</html>
