<!DOCTYPE html>
<html>
    <head>
        <title>focus and reply</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- todo: replace with production version -->
<style type="text/css">
body {
    font-family: Inter;
    background-color: white;
}
td {
    border: 0;
    margin: 0;
}
.email {
    max-height: 300px;
    overflow: scroll;
    margin-right: 3em;
    line-height: 1.6;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
* {
    box-sizing: border-box;
}
h3 {
    margin-top: -.5em;
}

.later {
    background-color: white;
    border-radius: 30px;
    margin: 3em;
    padding: 1em 2em;
    box-shadow: 5px 5px 20px 10px #eee;
}
textarea {
    height: 300px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 100%;
    font-family: Inter;
    font-size: 1em;
    padding: 1.5em;
        resize: none;
}

</style>

    </head> 
<body>
<div id="app">
    <div v-if="loggedIn">
        <div v-for="email in emails" class="later">
            <h2 class="subject">{{email['subject']}}</h2>
            <div style="display: flex">
                <div class="left" style="width: 50%">
                    <h3>{{email['from'][0]['name']}}</h3>
                    <div class="email" v-html="fix_email(email)">
                    </div>
                </div>
                <div class="right" style="width: 50%">
                    <textarea :name="email.id" :id ="email.id"> </textarea>
                </div>
            </div>
        </div>
    </body>

    </div>
    <div v-else>
        not logged in.
        Login: 
        <form>
            Username: <input v-model="username"></input> <br>
            Password: <input v-model="password"></input> <br>
            Account ID: <input v-model="accountId"></input> <br>
            <button v-on:click.prevent="login">Login</button>

        </form>
    </div>
</div>

<script>
function restore() {
    app.username = localStorage.getItem('username');
    app.password = localStorage.getItem('password');
    app.accountId = localStorage.getItem('accountId');
}

function make_jmap_query(x) {
    return {
        "using": [ "urn:ietf:params:jmap:core", "urn:ietf:params:jmap:mail" ],
        "methodCalls": x
    }
}

async function get_mailbox_id(accountId) {
    let mbox_query = make_jmap_query([[ "Mailbox/get", {
        "accountId": accountId,
        "ids": null
    }, "0" ]]);
    let data = await (await fetch('https://jmap.fastmail.com/api/', {
        method: 'POST',
        headers: {
            "Content-Type": "application/json",
            "Authorization": "Basic " + authBasic()
        },
        body: JSON.stringify(mbox_query)
    })).json();
    for (mailbox of data.methodResponses[0][1]['list']) {
        if (mailbox.name === "Reply Later") {
            return mailbox.id;
        }
    }
}

async function emails_query(accountId) {

    let mailbox_id = await get_mailbox_id(app.accountId);
    return [[ "Email/query", {
        "accountId": accountId,
        // todo: actually do the reply later thing
        "filter": { "inMailbox": mailbox_id },
        "sort": [{ "property": "receivedAt", "isAscending": false }],
        "collapseThreads": true,
        "position": 0,
        "limit": 20,
        "calculateTotal": true
    }, "t0" ],
        [ "Email/get", {
            "accountId": accountId,
            "#ids": {
                "resultOf": "t0",
                "name": "Email/query",
                "path": "/ids"
            },
            "properties": [ "threadId" ]
        }, "t1" ],
        [ "Thread/get", {
            "accountId": accountId,
            "#ids": {
                "resultOf": "t1",
                "name": "Email/get",
                "path": "/list/*/threadId"
            }
        }, "t2" ],
        [ "Email/get", {
            "accountId": accountId,
            "fetchTextBodyValues": true,
            "#ids": {
                "resultOf": "t2",
                "name": "Thread/get",
                "path": "/list/*/emailIds"
            },
            "properties": [ "from", "receivedAt", "subject", "bodyValues", "threadId"]
        }, "t3" ]]
}

function groupEmails(emails) {
    let threads = emails.reduce((groups, item) => ({
        ...groups,
        [item.threadId]: [...(groups[item.threadId] || []), item]
    }), {});

    let ret = [];
    for (id in threads) {
        let thread = threads[id];
        let last = thread[thread.length - 1];
        ret.push(last);
    }
    return ret;
}

function authBasic() {

    return window.btoa(app.username + ':' + app.password);
}

async function get_emails() {
    localStorage.setItem('username', app.username);
    localStorage.setItem('password', app.password);
    localStorage.setItem('accountId', app.accountId);
    let query = make_jmap_query(await emails_query(app.accountId));
    
    let data = await (await fetch('https://jmap.fastmail.com/api/', {
        url: 'https://jmap.fastmail.com/api/',
        method: 'POST',
        headers: {
            "Content-Type": "application/json",
            "Authorization": "Basic " + authBasic()
        },
        body: JSON.stringify(query)
    })).json();
    if (data.methodResponses[0][0] === 'error') {
        return
    }
    app.loggedIn = true;
    let emails = data['methodResponses'][3][1]['list'];
    app.emails = groupEmails(emails);
}

var app = new Vue({
    el: '#app',
    data: {
        message: 'Hello Vue!',
        username: null,
        password: null,
        accountId: null,
        loggedIn: false,
        emails: []
    },
    methods: {
        login: get_emails,
        fix_email: function(email) {
            return Object.values(email.bodyValues)[0].value.replaceAll('\n', '<br>');
        },
    }
})
restore();

if(app.username && app.password && app.accountId) {
    get_emails();
}


</script>
</body>
</html>
