body {
    font-family: Inter;
}
.email {
    max-height: 300px;
    overflow: scroll;
    margin-right: 3em;
    line-height: 1.6;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: Inter;
}

.later {
    background-color: white;
    border-radius: 30px;
    margin: 3em;
    padding: 1em 2em;
    box-shadow: 5px 5px 20px 10px #eee;
}

textarea {
    height: 300px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 100%;
    font-family: Inter;
    font-size: 1em;
    padding: 1.5em;
        resize: none;
}


#login {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}

#login input {
    display: block;
    border: 1px solid #999;
    border-radius: .5em;
    margin: .5em 0;
    padding: .3em;
}

/** loading spinner **/

.lds-dual-ring {
  display: block;
  margin: auto;
  padding-top: 50px;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
